<%- include("partials/header") -%>
<div id="parent">
  <div id="form" class="child">
    <div id="inner-container">
      <h1>City Weather App</h1>
      <form id="main-form" action="">
        <input type="text" class="city" placeholder="Enter City Name" />
      </form>
      <button id="cityButton">Enter</button>
    </div>
  </div>
  <div id="showData" class="child">
    <div class="inner-content">
      <div class="header">
        <h2>Information</h2>
      </div>
      <div class="body">
        <table id="data-table">
          <tr>
            <th>Properties</th>
            <th>Data</th>
          </tr>
          <tr>
            <td>City name</td>
            <td class="loc"></td>
          </tr>
          <tr>
            <td>Weather condition</td>
            <td class="wc"></td>
          </tr>
          <tr>
            <td>Temperature</td>
            <td class="temp"></td>
          </tr>
          <tr>
            <td>Humidity</td>
            <td class="humid"></td>
          </tr>
          <tr>
            <td>Date and time</td>
            <td class="date"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
