@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #fff;
  background: linear-gradient(45deg, #191a19, #3f3351);
}

#parent {
  width: 100%;
  min-height: 100vh;
}

.child {
  float: left;
  width: 50%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#form {
  min-height: 100vh;
}

#form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#inner-container {
  width: 50%;
}

#inner-container h1 {
  text-align: center;
}

#main-form input,
#inner-container button {
  margin-top: 1rem;
  padding: 0.5rem;
  width: 100%;
  font-size: 1rem;
}

.inner-content {
  text-align: center;
}

#showData .inner-content .body {
  width: 60%;
  margin: 2rem auto;
}

#data-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: left;
}

#data-table td,
#data-table th {
  padding: 1rem;
}

@media only screen and (max-width: 1000px) {
  #inner-container {
    width: 80%;
  }

  #form {
    min-height: 40vh;
  }

  .child {
    width: 100%;
  }

  #showData .inner-content .body {
    width: 90%;
    margin: 2rem auto;
  }
}
