* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#parent {
  width: 100%;
  min-height: 100vh;
  display: -webkit-flex; /* Safari */
  display: flex;
}

.child {
  -webkit-flex: 1; /* Safari */
  -ms-flex: 1; /* IE 10 */
  display: inline-block;
  flex: 1;
}

#form {
  min-height: 100vh;
  width: 30%;
}

#form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#inner-container {
  width: 50%;
}

#inner-container h1 {
  text-align: center;
}

#main-form input,
#inner-container button {
  margin-top: 1rem;
  padding: 0.5rem;
  width: 100%;
  font-size: 1rem;
}

.inner-content {
  margin-top: 2rem;
  text-align: center;
}

#showData .inner-content .body {
  width: 50%;
  margin: 2rem auto;
}

#data-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: left;
}

#data-table td,
#data-table th {
  padding: 1rem;
}
